@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'iCiel';
  src: url('../../../public/static/fonts/iCiel Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iCiel';
  src: url('../../../public/static/fonts/iCiel Ultra.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iCiel';
  src: url('../../../public/static/fonts/iCiel Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: white;
}

.link {
  @apply px-6 py-8 text-gray-400 uppercase transition-all border-b-4 border-transparent cursor-pointer hover:text-primary hover:font-medium hover:bg-gray-100 hover:border-primary;
}

.link-active {
  @apply font-medium bg-gray-100 border-b-4 text-primary border-primary;
}